@{
    ViewData["Title"] = "Vehicle List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <div class="card-actions">
            <a href="@Url.Action("Create", "Vehicle")" class="btn btn-primary" title="Add New Vehicle">
                <i class="bi bi-plus-lg"></i> 
            </a>
        </div>
        <h4 class="card-title">Vehicles</h4>
    </header>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="datatable-vehicle">
            <thead class="table-light">
                <tr>
                    <th>License Number</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
<script>
    $(document).ready(function () {
        LoadVehicles();
    });

    function LoadVehicles() {
        if ($.fn.dataTable.isDataTable("#datatable-vehicle")) {
            $("#datatable-vehicle").DataTable().clear().destroy();
        }

        $("#datatable-vehicle").DataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: {
                url: "/Vehicle/GetAllVehicles",
                type: "GET",
                dataType: 'json',
                data: function (d) {
                    return {
                        draw: d.draw,
                        start: d.start,
                        length: d.length,
                        searchValue: d.search.value
                    };
                }
            },
            columns: [
                {
                    data: "licenseNumber",
                    name: "License Number",
                    autoWidth: true,
                },
                {
                    data: "make",
                    name: "Make",
                    autoWidth: true,
                },
                {
                    data: "model",
                    name: "Model",
                    autoWidth: true,
                },
                {
                    data: "year",
                    name: "Year",
                    autoWidth: true,
                },
                {
                    orderable: false,
                    className: 'actions-column',
                    render: function (data, type, row) {
                       return `
                                <a href="/Vehicle/Edit/${row.vehicleID}" class="btn btn-primary btn-sm" title="Edit">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                                <a href="javascript:void(0);" onclick="confirmDelete('${row.vehicleID}')" class="btn btn-danger btn-sm" title="Delete">
                                <i class="bi bi-trash"></i>
                            </a>`;

                    }
                }


            ]
        });
    }

    function confirmDelete(id) {
        const isConfirmed = confirm("Are you sure you want to delete?");
        if (isConfirmed) {
            deleteCompany(id);
            ;
        }
    }
    function deleteCompany(companyId) {
        $.ajax({
            url: '/Vehicle/Delete',
            type: 'POST',
            data: { id: companyId },
            success: function (result) {
                if (result.success) {
                    alert(result.message);
                    $('#datatable-vehicle').DataTable().ajax.reload();
                } else {
                    alert(result.message);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error occurred: " + thrownError);
            }
        });
    }
</script>